@media (max-width: 600px) {
  body {
    /* background-color: red; */
  }

  /* navigation bar */
  #menu {
    display: none;
  }

  #qline {
    color: whitesmoke;
    font-size: 27px;
    text-align: center;
    /* font-weight: 900; */
    padding: 40px 36px;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-family: system-ui;
    opacity: 0.5;
  }

  #scbtn {
    font-size: 1.2rem;
    width: 12rem;
    height: 2.9rem;
  }

  .startcountingbtn {
    margin-top: 15rem;
  }

  #heading2 {
    margin-top: 5rem;
    padding-bottom: 87px;
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    /* border: 2px solid white; */
    /* padding: 1rem; */
    /* font-family: sans-serif; */
    /* color: rgba(245, 245, 245, 0.855); */
    color: rgb(236, 234, 234);
    font-size: 27px;
    font-weight: 900;
    letter-spacing: 0px;
    word-spacing: 17px;
    font-family: "Merienda";
    opacity: 28;
    color: white;
    text-align: center;
    opacity: 0.5;
    text-shadow: 1px 5px 42px black;
  }

  .caloriesearchbutton {
    text-decoration: none;
    background-color: transparent;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    width: 10rem;
    height: 2rem;
    color: whitesmoke;
    font-weight: 900;
    /* padding: 0.1rem; */
    border-radius: 1.2rem;
    outline: none;
    border: 1.8px solid white;
    margin-top: 2rem;
  }

  .searchcontainer {
    background-image: linear-gradient(101deg, #f8ffae, #43c6ac);
    width: 100%;
    height: 92vh;
    display: flex;
    align-items: center;
    /* justify-content: space-evenly; */
    /* justify-content: center; */
    flex-direction: column;
    /* padding-top: 10rem; */
    display: none;
    padding-top: 12%;
  }

  /* ------------ this is about result page ------------ */
  .fooditemsearched {
    margin-top: 19px;
    font-family: Rubik latin, Rubik latin-ext, Rubik cryllic, Noto Sans JP,
      Noto Sans SC, Noto Sans KR, Noto Sans EL, Helvetica, Arial, sans-serif;
    border: none;
    font-weight: 400;
    color: white;
    font-size: 20px;
    margin-left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 25px;
  }

  .pvalue,
  .fvalue,
  .cvalue {
    font-size: 25px;
    font-weight: bold;
    /* color: #2e3c42; */
    color: whitesmoke;
  }

  .caloricvalue,
  .proteinvalue,
  .fatvalue {
    font-size: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10%;
    height: auto;
    padding: 6px 5px;
  }

  .nutritionvalue {
    display: flex;
    flex-direction: column;
    width: 75%;
    padding: 30px 8px;
    height: auto;
  }

  .result {
    height: 91vh;
  }

  .searchagaindiv p {
    font-size: 23px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 9px 24px;
    text-align: center;
  }

  .searchagain {
    text-decoration: none;
    background-color: #f7681c;
    font-family: "Roboto", sans-serif;
    font-size: 17px;
    width: 10rem;
    height: auto;
    padding: 10px 5px;
    color: black;
    font-weight: bold;
    border-radius: 4rem;
    outline: none;
    border: none;
    font-family: system-ui;
  }

  .searchagain:hover {
    color: white;
    box-shadow: none;
  }

  /* this is for search bar */

  .searchbar {
    /* margin-top: 4rem; */
    /* border: 4px solid black; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: black;
    width: 72%;
    padding: 3px 18px;
    border-radius: 40px;
  }

  ::placeholder {
    border-style: none;
    outline: none;
    font-size: 15px;
    opacity: 0.5;
    color: whitesmoke;
    text-align: center;
    /* padding-left: 2.5rem; */
  }

  #search {
    outline: none;
    border: none;
    width: 90%;
    font-size: 18px;
    padding: 7px 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom-right-radius: 33px;
    border-top-right-radius: 33px;
    background-color: black;
    padding-bottom: 8px;
    color: white;
  }

  .form {
    padding-bottom: 2px;
  }

  .searchbar img {
    align-self: center;
    width: 9%;
    padding-left: 5px;
    /* padding-right: 0.5rem; */
    /* padding: 1.5rem 0rem 0rem 2rem; */
  }
}
